Federation 2.6 integration issue

While composing the superschema, I get the following error:

```
UNKNOWN_FEDERATION_LINK_VERSION: [xxx] Invalid version v2.6 for the federation feature in @link direction on schema
    INVALID_GRAPHQL: [xxx] Unknown directive "@key". If you meant the "@key" federation directive, you should use "@key" as it is imported under that name in the @link to the federation specification of this schema.
```

I wonder if something is missing from the generated subschema. Any idea?


Can you try printing the sub-graph schema, and share what directives  are included in the link directive?

If you can share more about how you set up the builder, and options you pass to toSubGraphSchema that may help narrow it down as well. 

This error occurs when the @link directive doesn't import the correct directives, but its hard to tell whats going on from the information provided here.    If you want to try to debug this yourself, you can check what directives pothos thinks are used here: https://github.com/hayes/pothos/blob/main/packages/plugin-federation/src/schema-builder.ts#L54

If this doesn't inlcude the key directive, that would explain the error.  The next question would be what part of your schema uses the `key` directive, and why pothos didn't detect that it was used

@hayes i'll add the subschema asap (it's a draft for a public api so i guess it's not critical to share if it's partially redacted)

Easiest way to print the schema with directives is documented here: https://pothos-graphql.dev/docs/plugins/federation#printing-the-schema

schema as generated from:

```ts
import fs from 'fs'
import { printSubgraphSchema } from '@apollo/subgraph'
import { lexicographicSortSchema } from 'graphql'
import path from 'path'

import { createSchema } from './schema'

const schema = createSchema()
const schemaAsString = printSubgraphSchema(lexicographicSortSchema(schema))
const schemaPath = path.join(process.cwd(), './schema.graphql')
fs.writeFileSync(schemaPath, schemaAsString)
process.exit(0)
```

→ 

```gql
extend schema
  @link(url: "https://specs.apollo.dev/federation/v2.6", import: ["@key"])

type AddTaskLocationResult {
  tasklist: Tasklist!
}

type ChecklistItem
  @key(fields: "id")
{
  id: ID!
  title: String!
  isDone: Boolean!
  lastToggledAt: DateTime!
  createdAt: DateTime!
  updatedAt: DateTime!
  owner: User!
  lastToggledBy: User
  assignees: [User!]
}

type Color
  @key(fields: "index")
{
  index: Int!
  name: String!
  hexCode: String!
}

type Comment
  @key(fields: "id")
{
  id: ID!
  body: String!
  createdAt: DateTime!
  updatedAt: DateTime!
  isEdited: Boolean!
  owner: User!
  task: Task!
}

input CreateChecklistItemInput {
  taskId: ID!
  title: String!
  isDone: Boolean = false
}

type CreateChecklistItemResult {
  checklistItem: ChecklistItem!
}

input CreateCommentInput {
  taskId: ID!
  body: String!
}

type CreateCommentResult {
  comment: Comment!
}

input CreateProjectInput {
  title: String!
  description: String
  isPrivate: Boolean
  members: [ProjectMemberInput!]
}

type CreateProjectResult {
  project: Project!
}

input CreateReminderInput {
  taskId: ID!
  time: DateTime!
  type: ReminderType!
}

type CreateReminderResult {
  reminder: Reminder!
}

input CreateTagInput {
  name: String!
  colorIndex: Int!
}

type CreateTagResult {
  tag: Tag!
}

input CreateTaskInput {
  tasklistId: ID!
  title: String!
  description: String
  points: Int
  dueAt: DueDateInput
  color: Int
}

type CreateTaskResult {
  task: Task!
}

input CreateTasklistInput {
  projectId: ID!
  title: ID!
}

type CreateTasklistResult {
  tasklist: Tasklist!
}

"""
A date-time string at UTC, such as 2007-12-03T10:15:30Z, compliant with the `date-time` format outlined in section 5.6 of the RFC 3339 profile of the ISO 8601 standard for representation of dates and times using the Gregorian calendar.
"""
scalar DateTime

type DeleteChecklistItemResult {
  deletedChecklistItemId: ID!
}

type DeleteCommentResult {
  deletedCommentId: ID!
}

type DeleteProjectResult {
  deletedProjectId: ID!
}

type DeleteReminderResult {
  deletedReminderId: ID!
}

type DeleteTagResult {
  deletedTagId: ID!
}

type DeleteTaskResult {
  deletedTaskId: ID!
}

type DeleteTasklistResult {
  deletedTasklistId: ID!
}

input DueDateInput {
  time: DateTime
  recurringType: TaskRecurringType
}

input MoveTaskInput {
  fromTaskListId: ID!
  toProjectId: ID!
  toTaskListId: ID!
  afterTaskId: ID
}

type MoveTaskResult {
  movedTaskId: ID!
}

type Mutation {
  createChecklistItem(input: CreateChecklistItemInput!): CreateChecklistItemResult!
  updateChecklistItem(taskId: ID!, checklistItemId: ID!, input: UpdateChecklistItemInput!): UpdateChecklistItemResult!
  deleteChecklistItem(taskId: ID!, checklistItemId: ID!): DeleteChecklistItemResult!
  createComment(input: CreateCommentInput!): CreateCommentResult!
  updateComment(commentId: ID!, input: UpdateCommentInput!): UpdateCommentResult!
  deleteComment(commentId: ID!): DeleteCommentResult!
  createProject(input: CreateProjectInput!): CreateProjectResult!
  updateProject(input: UpdateProjectInput!): UpdateProjectResult!
  deleteProject(projectId: String!): DeleteProjectResult!
  createReminder(input: CreateReminderInput!): CreateReminderResult!
  updateReminder(reminderId: ID!, input: UpdateReminderInput!): UpdateReminderResult!
  deleteReminder(reminderId: ID!): DeleteReminderResult!
  createTag(input: CreateTagInput!): CreateTagResult!
  updateTag(tagId: ID!, input: UpdateTagInput!): UpdateTagResult!
  deleteTag(tagId: ID!): DeleteTagResult!
  createTask(input: CreateTaskInput!): CreateTaskResult!
  updateTask(taskId: ID!, input: UpdateTaskInput!): UpdateTaskResult!
  deleteTask(taskId: ID!): DeleteTaskResult!
  moveTask(taskId: ID!, input: MoveTaskInput!): MoveTaskResult!
  addTaskLocation(taskId: ID!, input: TaskLocationInput!): AddTaskLocationResult!
  createTasklist(input: CreateTasklistInput!): CreateTasklistResult!
  updateTasklist(tasklistId: ID!, input: UpdateTasklistInput!): UpdateTasklistResult!
  deleteTasklist(tasklistId: ID!): DeleteTasklistResult!
}

type PageInfo {
  hasNextPage: Boolean!
  hasPreviousPage: Boolean!
  startCursor: String
  endCursor: String
}

type Project
  @key(fields: "id")
{
  id: ID!
  title: String!
  description: String!
  isPrivate: Boolean!
  createdAt: DateTime!
  updatedAt: DateTime!
  owner: User!
  workspace: Workspace!
  tasklists: [Tasklist!]!
  members(before: String, after: String, first: Int, last: Int): ProjectMembersConnection!
}

input ProjectMemberInput {
  userId: ID!
  role: ProjectRole
}

type ProjectMembersConnection {
  pageInfo: PageInfo!
  edges: [ProjectMembersConnectionEdge]!
}

type ProjectMembersConnectionEdge {
  node: User!
  cursor: String!
}

enum ProjectRole {
  MEMBER
  ADMIN
}

type Query {
  checklist(taskId: ID!): [ChecklistItem!]
  color(index: Int!): Color
  colors(indexes: [Int!]): [Color!]
  message(id: ID!): Comment
  messages(ids: [ID!]!): [Comment!]
  project(id: ID!): Project
  projects(ids: [ID!]!): [Project!]
  reminders(taskId: String!): [Reminder!]
  tag(id: ID!): Tag
  tags(ids: [ID!]!): [Tag!]
  task(id: ID!): Task
  tasks(ids: [ID!]!): [Task!]
  tasklist(id: ID!): Tasklist
  tasklists(ids: [ID!]!): [Tasklist!]
  me: User
  user(id: ID!): User
  users(ids: [ID!]!): [User!]
  workspace: Workspace
}

type Reminder
  @key(fields: "id")
{
  id: ID!
  time: DateTime!
  type: ReminderType!
  owner: User!
  task: Task!
}

enum ReminderType {
  Personal
  TaskAssignees
  TaskFollowers
  TaskMembers
}

type Tag
  @key(fields: "id")
{
  id: ID!
  name: String!
  color: Color!
}

type Task
  @key(fields: "id")
{
  id: ID!
  title: String!
  description: String
  points: Int
  isCompleted: Boolean!
  createdAt: DateTime!
  updatedAt: DateTime!
  completedAt: DateTime
  startsAt: DateTime
  dueAt: DateTime
  checklistItems: [ChecklistItem!]!
  color: Color!
  tags: [Tag!]!
  assignees: [User!]!
  followers: [User!]
  owner: User!
  workspace: Workspace!
  comments(before: String, after: String, first: Int, last: Int): TaskCommentsConnection!
  reminders: [Reminder!]!
}

type TaskCommentsConnection {
  pageInfo: PageInfo!
  edges: [TaskCommentsConnectionEdge]!
}

type TaskCommentsConnectionEdge {
  node: Comment!
  cursor: String!
}

input TaskLocationInput {
  projectId: ID!
  tasklistId: ID!
}

enum TaskRecurringType {
  None
  Day
  WorkDay
  Week
  Biweekly
  Month
  Month3
  Month6
  Year
}

type Tasklist
  @key(fields: "id")
{
  id: ID!
  title: String!
  createdAt: DateTime!
  updatedAt: DateTime!
  isInbox: Boolean!
  isPrivate: Boolean!
  owner: User!
  workspace: Workspace!
  project: Project!
  tasks(before: String, after: String, first: Int, last: Int): TasklistTasksConnection!
}

type TasklistTasksConnection {
  pageInfo: PageInfo!
  edges: [TasklistTasksConnectionEdge]!
}

type TasklistTasksConnectionEdge {
  node: Task!
  cursor: String!
}

input UpdateChecklistItemInput {
  title: String
  position: Int
  isDone: Boolean
}

type UpdateChecklistItemResult {
  checklistItem: ChecklistItem!
}

input UpdateCommentInput {
  body: String!
}

type UpdateCommentResult {
  comment: Comment!
}

input UpdateProjectInput {
  projectId: ID!
  title: String
  description: String
  isPrivate: Boolean
  members: [ProjectMemberInput!]
}

type UpdateProjectResult {
  project: Project!
}

input UpdateReminderInput {
  time: DateTime!
  type: ReminderType!
}

type UpdateReminderResult {
  reminder: Reminder!
}

input UpdateTagInput {
  name: String!
  colorIndex: Int!
}

type UpdateTagResult {
  tag: Tag!
}

input UpdateTaskInput {
  title: String
  description: String
  points: Int
  dueAt: DueDateInput
  color: Int
  isCompleted: Boolean
}

type UpdateTaskResult {
  task: Task!
}

input UpdateTasklistInput {
  title: String!
}

type UpdateTasklistResult {
  tasklist: Tasklist!
}

type User
  @key(fields: "id")
{
  id: ID!
  email: String!
  firstName: String
  lastName: String
}

type Workspace
  @key(fields: "id")
{
  id: ID!
  name: String!
  displayName: String!
  photo: String!
  storageSize: Int!
  members(before: String, after: String, first: Int, last: Int): WorkspaceMembersConnection!
  projects(before: String, after: String, first: Int, last: Int): WorkspaceProjectsConnection!
}

type WorkspaceMembersConnection {
  pageInfo: PageInfo!
  edges: [WorkspaceMembersConnectionEdge]!
}

type WorkspaceMembersConnectionEdge {
  node: User!
  cursor: String!
}

type WorkspaceProjectsConnection {
  pageInfo: PageInfo!
  edges: [WorkspaceProjectsConnectionEdge]!
}

type WorkspaceProjectsConnectionEdge {
  node: Project!
  cursor: String!
}

enum WorkspaceRole {
  ADMIN
  MEMBER
}
```

interesting... it looks like the schema is generated correctly, with the @key directive being imported

(i'm now looking that maybe the superschema generated may not be v2, that'd be the most logical answer)

Yeah, I jumped to the second line of the error which looked very familiar, and similar to another issue I had seen before.  

I think your supergraph is using an older version. 

try adding this:

```ts
builder.toSubGraphSchema({
schemaDirectives: {
    link: { url: 'https://myspecs.dev/myCustomDirective/v1.0' },
  },
})
  ``

I haven't tried to use the federation plugin with federation v1, v2 is supposed to be backwards compatible.  Hopefully using v2.3 will work, because it does look like whatever you are using to compose the schemas is aware of the @link directive, but not version 2.6


sorry, just noticed the docs for this are slightly wrong.

```ts
builder.toSubGraphSchema({
  linkUrl: 'https://specs.apollo.dev/federation/v2.3'
})
```

@hayes i'll try with `v2.5` since i just got access to Apollo Studio and it seems the superschema is running federation 2.5

i have upgraded the federation version from apollo studio to 2.6. i believe it'd be nice to have a `federationVersion: SemVer` field as option of the FederationPlugin

on a side note, i do understand the design, but it is quite difficult to hardcode the version since apollo studio expects a federation to have multiple variants, and the variants could eventually have different versions. in that sense, i guess the version should come from an env var :/

The issue with semver is that a schema needs to import from a specific version of the spec.  As long as your version in the sub-graph is =< the version supported by the super graphic it should work fine