GraphQL Shield Not Authorized on Null Field

I've defined a field which works as long as the value is not null.  I have added nullable: true in every place I can think to add and it still returns a not authorized error.

```   
  groupName: t.string({
      select: {
        group: {
          select: {
            groupName: true,
            id: true,
          },
        },
      },
      resolve: (user) => user.group.groupName,
      nullable: true,
    }),

```

Here is the Schema Generated by pothos:

```
A date string, such as 2007-12-03, compliant with the `full-date` format outlined in section 5.6 of the RFC 3339 profile of the ISO 8601 standard for representation of dates and times using the Gregorian calendar.
"""
scalar DateTime

type Group {
  createdAt: DateTime!
  groupName: String
  id: ID!
  sbc: Sbc!
  sbcId: String!
  sbcName: String!
  updatedAt: DateTime!
  users: [User!]
}

type Mutation {
  createUser(email: String!, firstName: String, lastName: String, role: Role! = USER): User!
  updateImage(id: ID!, imageUrl: String!): User!
  updateRole(id: ID!, role: Role!): User!
  updateUserSelf(firstName: String, id: ID!, lastName: String): User!
}

type PageInfo {
  endCursor: ID
  hasNextPage: Boolean!
  hasPreviousPage: Boolean!
  startCursor: ID
}

type Query {
  user(id: ID!): User!
  userbyemail(email: String!): User!
  users(after: ID, before: ID, first: Int, last: Int): QueryUsersConnection!
}

type QueryUsersConnection {
  edges: [QueryUsersConnectionEdge]!
  pageInfo: PageInfo!
  totalCount: Int!
}

type QueryUsersConnectionEdge {
  cursor: ID!
  node: User!
}

enum Role {
  ADMIN
  NEW_USER
  SUPER_ADMIN
  USER
}

type Sbc {
  createdAt: DateTime!
  groups: [Group!]
  id: ID!
  sbcName: String!
  updatedAt: DateTime!
}

type User {
  createdAt: DateTime!
  email: String
  firstName: String
  fullName: String
  groupName: String
  id: ID!
  imageUrl: String
  lastName: String
  role: Role!
  sbcName: String
  updatedAt: DateTime!
}

```

And this is the error I receive:

```
  "errors": [
    {
      "message": "Not Authorised!",
      "locations": [
        {
          "line": 5,
          "column": 9
        }
      ],
      "path": [
        "users",
        "edges",
        17,
        "node",
        "sbcName"
      ],
      "extensions": {
        "code": "INTERNAL_SERVER_ERROR",
        "stacktrace": [
          "Error: Not Authorised!",
          "    at normalizeOptions (C:\\Projects\\GitHub\\able-portal\\backend\\node_modules\\graphql-shield\\cjs\\shield.js:27:52)",
          "    at shield (C:\\Projects\\GitHub\\able-portal\\backend\\node_modules\\graphql-shield\\cjs\\shield.js:40:31)",
          "    at ShieldPlugin.afterBuild (C:\\Projects\\GitHub\\able-portal\\backend\\src\\server\\graphql\\builder\\shield-plugin.ts:105:42)",
          "    at reduceRight (C:\\Projects\\GitHub\\able-portal\\backend\\node_modules\\@pothos\\core\\src\\plugins\\merge-plugins.ts:64:68)",
          "    at Array.reduceRight (<anonymous>)",
          "    at MergedPlugins.afterBuild (C:\\Projects\\GitHub\\able-portal\\backend\\node_modules\\@pothos\\core\\src\\plugins\\merge-plugins.ts:64:25)",
          "    at SchemaBuilder.toSchema (C:\\Projects\\GitHub\\able-portal\\backend\\node_modules\\@pothos\\core\\src\\builder.ts:608:47)",
          "    at Object.<anonymous> (C:\\Projects\\GitHub\\able-portal\\backend\\src\\server\\graphql\\schema.ts:8:31)",
          "    at Module._compile (node:internal/modules/cjs/loader:1246:14)",
          "    at Module._compile (C:\\Projects\\GitHub\\able-portal\\backend\\node_modules\\source-map-support\\source-map-support.js:568:25)"
        ]
      }
    }
  ]
}
```

Any idea?  Am I missing something?


In the Shield plugin file I added  ` return applyMiddleware(schema, shield(rules, { allowExternalErrors: true }));`  This allowed me to see the underlying error, in my case it was the resolver trying to read a null value.